<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Landing Page</title>
</head>


<body>
	<h1>Halo, apa kabar?</h1>
	<form method="post">
		{% csrf_token %}
		<table class="table">
			{{ form.as_table }}	
		</table>
		<button type="Submit" id='submit'>Kirim</button>
	</form>
	<br>
	<table class="table">
		<thead>
		    <tr>
			    <th scope="col">Waktu</th>
			    <th scope="col">Status</th>
			</tr>
		</thead>

		<tbody>
			{% for status in status %}
			<tr style="border-bottom: 1px solid black;">
				<td>{{status.waktu}}</td>
				<td>{{status.status}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>